
<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item *ngFor="let view of views">
        <md-icon md-list-icon>{{view.icon}}</md-icon>
        <span md-line>{{view.name}}</span>
        <span md-line class="secondary">{{view.description}}</span>
      </a>
    </md-nav-list>
    
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    Integrify.net

    <button md-fab (click)="formShowing=!formShowing">
      <md-icon>add</md-icon>
    </button>
  </md-toolbar>

  <div class="form" *ngIf="formShowing">
    <md-card>
      <md-card-title>Find out below the status of your community internet</md-card-title>
      <md-card-content>
        <form>
          <md-input placeholder="Name"></md-input>
          <md-input placeholder="Email"></md-input>
          <md-input placeholder="Postcode"></md-input>
            <md-radio-group>
              <md-radio-button value="looking for love">Looking for Love</md-radio-button>
              <md-radio-button value="just browsing">Just Browsing</md-radio-button>
            </md-radio-group>
            <md-checkbox indeterminate="true">Yes I what FREE high speed internet.</md-checkbox>
        </form>
      </md-card-content>
    </md-card>
  </div>






  <md-card>
    <md-card-title>10 Reasons Why Comunity Internet Makes So Much Sense</md-card-title>
  </md-card>




  <div class="card-container" >

    <md-card class="md-card-reasons">
      <md-card-title>1. Build Local Jobs</md-card-title>
      <md-card-content class="secondary">
        Ancient Greek literature refers to literature written in the Ancient Greek language from the earliest texts until roughly the rise of the Byzantine Empire. The earliest surviving works of ancient Greek literature are the two epic poems The Iliad and The Odyssey. These two epics, along with the Homeric Hymns and Theogony and Works and Days by the poet Hesiod comprised the major foundational works of the Greek literary tradition.
      </md-card-content>
    </md-card>
    <md-card *ngFor="let dog of dogs" class="md-card-reasons">
        <md-card-title>{{dog.name}}</md-card-title>
        <md-card-content class="secondary">
          {{dog.description}}
        </md-card-content>
    </md-card>
  </div>



</md-sidenav-layout>





