/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.secondary {
    color: rgba(0,0,0,0.54);
}

md-sidenav-layout {
    background: rgba(0,0,0,0.03);
}

md-card {

}

.md-card-reasons {
    width: 400px;
    box-sizing: border-box;
    margin: 16px;
}
.card-container {
    display: flex;
}

.form {
    display: flex;
}

.form md-card {
    flex-grow: 1;
}

md-input {
    margin: 8px 0;
    width: 100%;
}

md-radio-button ,md-checkbox {
    margin: 16px 8px;
}

[md-fab] {
    position: absolute;
    left: 3%;
    top: 34px;
    z-index: 1;
}